<!doctype html>
<html lang="en">
  <head>
    <%- include(assetsPath + '/core/views/partials/head'); %>

    <title>SQS - Message History</title>
  </head>
  <body>
    <%- include(assetsPath + '/core/views/partials/sidebar'); %>
    <div class="main-content">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Message History</h1>
      </div>

      <div class="ui form" style="margin-top: 1rem;">
        <div class="field">
          <input type="text" name="name" id="search-input" placeholder="Search">
        </div>
      </div>

      <div class="responsive-table-wrapper" style="margin-top: 1rem;">
        <table class="ui compact celled table" style="min-height: 10rem;">
          <thead>
            <tr>
              <th>Message Id</th>
              <th>Message Body</th>
              <th>Message Attributes</th>
              <th>Queue URL</th>
              <th>Created At</th>
              <th>Deleted At</th>
            </tr>
          </thead>
          <tbody id="table-body">
            <% if(messages.length === 0) { %>
              <tr>
                <td class="center aligned" colspan="6">No message history.</td>
              </tr>
            <% } else { %>
              <% messages.forEach(function(message) { %>
                <tr id="message-<%= message.messageId %>">
                  <td data-label="Message Id"><%= message.messageId %></td>
                  <td data-label="Message Body"><%= message.messageBody %></td>
                  <td data-label="Message Attributes"><%= JSON.stringify(message.messageAttributes) %></td>
                  <td data-label="Queue URL"><%= message.queueUrl %></td>
                  <td data-label="Created At"><%= new Date(message.createdAt).toLocaleString() %></td>
                  <td data-label="Deleted At"><%= new Date(message.deletedAt).toLocaleString() %></td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <script>
    let originalMessages = <%- JSON.stringify(messages) %>

    const createTableRow = (message) => {
      return `
      <tr id="message-${message.messageId}">
        <td data-label="Message Id">${message.messageId}</td>
        <td data-label="Message Body">${message.messageBody}</td>
        <td data-label="Message Attributes">${JSON.stringify(message.messageAttributes)}</td>
        <td data-label="Queue URL">${message.queueUrl}</td>
        <td data-label="Created At">${new Date(message.createdAt).toLocaleString()}</td>
        <td data-label="Deleted At">${new Date(message.deletedAt).toLocaleString()}</td>
      </tr>
      `;
    }

    // Search
    const rerenderTable = (messages) => {
      const table = document.getElementById('table-body');

      if (messages.length <= 0) {
        table.innerHTML = `
          <tr>
            <td class="center aligned" colspan="6">No message history.</td>
          </tr>
        `;
        return;
      }

      table.innerHTML = messages.map(e => createTableRow(e)).join('')
    }

    document.getElementById('search-input').addEventListener('keyup', (e) => {
      if (!e.target.value) {
        changeSearchInUrl('');
        rerenderTable(originalMessages);
        return;
      }

      changeSearchInUrl(e.target.value.toLowerCase());
      const filteredMessages = originalMessages.filter(message =>
        message.messageId.toLowerCase().includes(e.target.value.toLowerCase()) ||
        message.messageBody.toLowerCase().includes(e.target.value.toLowerCase()) ||
        message.queueUrl.toLowerCase().includes(e.target.value.toLowerCase())
      );
      rerenderTable(filteredMessages);
    })

    const initialSearch = getSearchFromUrl();

    if (initialSearch) {
      document.getElementById('search-input').value = initialSearch;
      const filteredMessages = originalMessages.filter(message =>
        message.messageId.toLowerCase().includes(initialSearch.toLowerCase()) ||
        message.messageBody.toLowerCase().includes(initialSearch.toLowerCase()) ||
        message.queueUrl.toLowerCase().includes(initialSearch.toLowerCase())
      );
      rerenderTable(filteredMessages);
    }
  </script>
</html>
