<!doctype html>
<html lang="en">
  <head>
    <%- include(assetsPath + '/core/views/partials/head'); %>

    <title>SQS - Queues</title>
  </head>
  <body>
    <%- include(assetsPath + '/core/views/partials/sidebar'); %>
    <div class="main-content">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Queues</h1>
        <button class="ui secondary button" style="height: 100%" onclick="openAddQueueModal()">
          Add Queue
        </button>
      </div>

      <div class="ui form" style="margin-top: 1rem">
        <div class="field">
          <input type="text" name="name" id="search-input" placeholder="Search" />
        </div>
      </div>

      <div class="responsive-table-wrapper" style="margin-top: 1rem;">
        <table class="ui compact celled table" style="min-height: 10rem;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Url</th>
              <th>Arn</th>
              <th>Visibility Timeout</th>
              <th>Receive Message Wait Time</th>
              <th>Maximum Message Size</th>
              <th>Messages</th>
              <th>Message History</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="queues-table-body">
            <% if(queues.length === 0) { %>
              <tr>
                <td class="center aligned" colspan="4">No queues.</td>
              </tr>
            <% } else { %>
              <% queues.forEach(function(queue) { %>
                <tr id="queue-<%= queue.name %>">
                  <td data-label="Name"><%= queue.name %></td>
                  <td data-label="Url"><%= queue.url %></td>
                  <td data-label="Arn"><%= queue.arn %></td>
                  <td data-label="Visibility Timeout"><%= queue.visibilityTimeout %> seconds</td>
                  <td data-label="Receive Message Wait Time"><%= queue.receiveMessageWaitTimeSeconds %> seconds</td>
                  <td data-label="Maximum Message Size"><%= queue.maximumMessageSize %> bytes</td>
                  <td data-label="Messages">
                    <a href="/ui/sqs-messages?search=<%= queue.url %>"><%= queue.numberOfMessages %> messages</a>
                  </td>
                  <td data-label="Message History">
                    <a href="/ui/sqs-message-history?search=<%= queue.url %>"><%= queue.numberOfMessagesInHistory %> messages</a>
                  </td>
                  <td data-label="Actions" class="center">
                    <div style="display: flex;">
                      <button class="ui red icon button" data-content="Purge queue" data-position="top center">
                        <i class="fa-solid fa-ban"></i>
                      </button>
                      <button class="ui red icon button" data-content="Delete queue" data-position="top center">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="add-queue-modal" class="ui modal">
      <div class="header">
        Add Queue
      </div>
        <div class="content">
          <form class="ui form" onsubmit="event.preventDefault();onAddTopicClick()">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" id="add-queue-modal-name-input">
            </div>
            <div class="field">
              <label>Visibility Timeout</label>
              <input type="number" name="name" id="add-queue-modal-visbility-timeout-input">
            </div>
            <div class="field">
              <label>Receive Message Wait Time in Seconds</label>
              <input type="number" name="name" id="add-queue-modal-receive-message-wait-time-input">
            </div>
            <div class="field">
              <label>Maximum Message Size in Bytes</label>
              <input type="number" name="name" id="add-queue-modal-maximum-message-size-input">
            </div>
          </form>
          <div class="ui form">
            <div class="field error">
              <label id="add-queue-modal-error"></label>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui button">Cancel</button>
          <button class="ui button green" onclick="onAddQueueClick()">Add</button>
        </div>
    </div>
  </body>

  <script>
    let originalQueues = <%- JSON.stringify(queues) %>

    $('.button').popup();

    const createTableRow = (queue) => {
      return `
      <tr id="queue-${queue.name}">
        <td data-label="Name">${queue.name}</td>
        <td data-label="Url">${queue.url}</td>
        <td data-label="Arn">${queue.arn}</td>
        <td data-label="Visibility Timeout">${queue.visibilityTimeout}</td>
        <td data-label="Receive Message Wait Time">${queue.receiveMessageWaitTimeSeconds}</td>
        <td data-label="Maximum Message Size">${queue.maximumMessageSize}</td>
        <td data-label="Messages">
          <a href="/ui/sqs-messages?search=${queue.url}">${queue.numberOfMessages} messages</a>
        </td>
        <td data-label="Message History">
          <a href="/ui/sqs-message-history?search=${queue.url}">${queue.numberOfMessagesInHistory} messages</a>
        </td>
        <td data-label="Actions" class="center">
          <div style="display: flex;">
          <button class="ui red icon button" data-content="Purge queue" data-position="top center" onClick='openPurgeQueueModal(${JSON.stringify(queue)})'>
            <i class="fa-solid fa-ban"></i>
          </button>
          <button class="ui red icon button" data-content="Delete queue" data-position="top center" onClick='openDeleteQueueModal(${JSON.stringify(queue)})'>
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
        </td>
      </tr>
      `;
    }

    // Add queue
    const openAddQueueModal = () => {
      $('#add-queue-modal').modal('show');
    }

    const onAddQueueClick = async () => {
      const errorElement = document.getElementById('add-queue-modal-error');
      errorElement.innerText = '';

      const name = document.getElementById('add-queue-modal-name-input').value;
      const visibilityTimeout = document.getElementById('add-queue-modal-visbility-timeout-input').value;
      const receiveMessageWaitTime = document.getElementById('add-queue-modal-receive-message-wait-time-input').value;
      const maximumMessageSize = document.getElementById('add-queue-modal-maximum-message-size-input').value;

      if (!name) {
        errorElement.innerText = 'Name is required.'
        return;
      }

      try {
        const fetchResponse = await fetch('/api/sqs-queues', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            queueName: name,
            visibilityTimeout: visibilityTimeout || undefined,
            receiveMessageWaitTime: receiveMessageWaitTime || undefined,
            maximumMessageSize: maximumMessageSize || undefined,
          }),
        });

        if (!fetchResponse.ok) {
          const response = await fetchResponse.json();
          errorElement.innerText = response.error;
          return;
        }

        const response = await fetchResponse.json();

        const tableBodyElement = document.getElementById('queues-table-body');

        if (tableBodyElement.innerHTML.includes('No queues')) {
          tableBodyElement.innerHTML = createTableRow(response);
        } else {
          tableBodyElement.innerHTML += createTableRow(response);
        }

        document.getElementById('add-queue-modal-name-input').value = '';
        document.getElementById('add-queue-modal-visbility-timeout-input').value = '';
        document.getElementById('add-queue-modal-receive-message-wait-time-input').value = '';
        document.getElementById('add-queue-modal-maximum-message-size-input').value = '';

        originalQueues.push(response);

        $('#add-queue-modal').modal('hide');
        $('.button').popup();
      } catch (error) {
        console.error(error);
        errorElement.innerText = 'An unknown error occurred.';
      }
    }
  </script>
</html>
