<!doctype html>
<html lang="en">
  <head>
    <%- include(assetsPath + '/core/views/partials/head'); %>

    <title>SQS - Queues</title>
  </head>
  <body>
    <%- include(assetsPath + '/core/views/partials/sidebar'); %>
    <div class="main-content">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h1>Queues</h1>
        <button class="ui secondary button" style="height: 100%" onclick="openAddQueueModal()">
          Add Queue
        </button>
      </div>

      <div class="ui form" style="margin-top: 1rem">
        <div class="field">
          <input type="text" name="name" id="search-input" placeholder="Search" />
        </div>
      </div>

      <div class="responsive-table-wrapper" style="margin-top: 1rem;">
        <table class="ui compact celled table" style="min-height: 10rem;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Url</th>
              <th>Arn</th>
              <th>Visibility Timeout</th>
              <th>Receive Message Wait Time</th>
              <th>Maximum Message Size</th>
              <th>Messages</th>
              <th>Message History</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="queues-table-body">
            <% if(queues.length === 0) { %>
              <tr>
                <td class="center aligned" colspan="9">No queues.</td>
              </tr>
            <% } else { %>
              <% queues.forEach(function(queue) { %>
                <tr id="queue-<%= queue.name %>">
                  <td data-label="Name"><%= queue.name %></td>
                  <td data-label="Url"><%= queue.url %></td>
                  <td data-label="Arn"><%= queue.arn %></td>
                  <td data-label="Visibility Timeout"><%= queue.visibilityTimeout %> seconds</td>
                  <td data-label="Receive Message Wait Time"><%= queue.receiveMessageWaitTimeSeconds %> seconds</td>
                  <td data-label="Maximum Message Size"><%= queue.maximumMessageSize %> bytes</td>
                  <td data-label="Messages">
                    <a href="/ui/sqs-messages?search=<%= queue.url %>"><%= queue.numberOfMessages %> messages</a>
                  </td>
                  <td data-label="Message History">
                    <a href="/ui/sqs-message-history?search=<%= queue.url %>"><%= queue.numberOfMessagesInHistory %> messages</a>
                  </td>
                  <td data-label="Actions" class="center">
                    <div style="display: flex;">
                      <button class="ui icon button" data-content="Send message" data-position="top center" onclick="openSendMessageModal(<%= JSON.stringify(queue) %>)">
                        <i class="fa-solid fa-message"></i>
                      </button>
                      <button class="ui red icon button" data-content="Purge queue" data-position="top center" onclick="openPurgeQueueModal(<%= JSON.stringify(queue) %>)">
                        <i class="fa-solid fa-ban"></i>
                      </button>
                      <button class="ui red icon button" data-content="Delete queue" data-position="top center" onclick="openDeleteQueueModal(<%= JSON.stringify(queue) %>)">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="send-message-modal" class="ui modal">
      <div id="send-message-modal-header" class="header">
        Send Message
      </div>
        <div class="content">
          <form class="ui form" onsubmit="event.preventDefault();onSendMessageClick()">
            <div class="field">
              <label>Message Body</label>
              <textarea rows="4" id="send-message-modal-message-body-input"></textarea>
            </div>
            <div class="field">
              <label>Message Attributes (JSON array of attributes)</label>
              <textarea rows="4" id="send-message-modal-message-attributes-input"></textarea>
            </div>
            <div class="field">
              <label>Delay in Seconds</label>
              <input type="number" id="send-message-modal-delay-seconds-input">
            </div>
          </form>
          <div class="ui form">
            <div class="field error">
              <label id="send-message-modal-error"></label>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui button">Cancel</button>
          <button class="ui button green" onclick="onSendMessageClick()">Add</button>
        </div>
    </div>

    <div id="add-queue-modal" class="ui modal">
      <div class="header">
        Add Queue
      </div>
        <div class="content">
          <form class="ui form" onsubmit="event.preventDefault();onAddTopicClick()">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" id="add-queue-modal-name-input">
            </div>
            <div class="field">
              <label>Visibility Timeout</label>
              <input type="number" name="name" id="add-queue-modal-visbility-timeout-input">
            </div>
            <div class="field">
              <label>Receive Message Wait Time in Seconds</label>
              <input type="number" name="name" id="add-queue-modal-receive-message-wait-time-input">
            </div>
            <div class="field">
              <label>Maximum Message Size in Bytes</label>
              <input type="number" name="name" id="add-queue-modal-maximum-message-size-input">
            </div>
          </form>
          <div class="ui form">
            <div class="field error">
              <label id="add-queue-modal-error"></label>
            </div>
          </div>
        </div>
        <div class="actions">
          <button class="ui button">Cancel</button>
          <button class="ui button green" onclick="onAddQueueClick()">Add</button>
        </div>
    </div>

    <div id="purge-queue-modal" class="ui mini modal">
      <div class="header">
        Purge Queue
      </div>
      <div class="content">
        <p id="purge-queue-modal-description">Are you sure you want to purge queue?</p>
        <div class="ui form">
          <div class="field error">
            <label id="purge-queue-modal-error"></label>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="ui button red negative">No</button>
        <button class="ui button green" onclick="onConfirmPurgeQueueClick()">Yes</button>
      </div>
    </div>

    <div id="delete-queue-modal" class="ui mini modal">
      <div class="header">
        Delete Queue
      </div>
      <div class="content">
        <p id="delete-queue-modal-description">Are you sure you want to delete queue?</p>
        <div class="ui form">
          <div class="field error">
            <label id="delete-queue-modal-error"></label>
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="ui button red negative">No</button>
        <button class="ui button green" onclick="onConfirmDeleteQueueClick()">Yes</button>
      </div>
    </div>
  </body>

  <script>
    let selectedQueue = null;
    let originalQueues = <%- JSON.stringify(queues) %>

    $('.button').popup();

    const createTableRow = (queue) => {
      return `
      <tr id="queue-${queue.name}">
        <td data-label="Name">${queue.name}</td>
        <td data-label="Url">${queue.url}</td>
        <td data-label="Arn">${queue.arn}</td>
        <td data-label="Visibility Timeout">${queue.visibilityTimeout} seconds</td>
        <td data-label="Receive Message Wait Time">${queue.receiveMessageWaitTimeSeconds} seconds</td>
        <td data-label="Maximum Message Size">${queue.maximumMessageSize} bytes</td>
        <td data-label="Messages">
          <a href="/ui/sqs-messages?search=${queue.url}">${queue.numberOfMessages} messages</a>
        </td>
        <td data-label="Message History">
          <a href="/ui/sqs-message-history?search=${queue.url}">${queue.numberOfMessagesInHistory} messages</a>
        </td>
        <td data-label="Actions" class="center">
          <div style="display: flex;">
            <button class="ui icon button" data-content="Send message" data-position="top center" onclick='openSendMessageModal(${JSON.stringify(queue)})'>
              <i class="fa-solid fa-message"></i>
            </button>
            <button class="ui red icon button" data-content="Purge queue" data-position="top center" onClick='openPurgeQueueModal(${JSON.stringify(queue)})'>
              <i class="fa-solid fa-ban"></i>
            </button>
            <button class="ui red icon button" data-content="Delete queue" data-position="top center" onClick='openDeleteQueueModal(${JSON.stringify(queue)})'>
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      `;
    }

    // Add queue
    const openAddQueueModal = () => {
      $('#add-queue-modal').modal('show');
    }

    const onAddQueueClick = async () => {
      const errorElement = document.getElementById('add-queue-modal-error');
      errorElement.innerText = '';

      const name = document.getElementById('add-queue-modal-name-input').value;
      const visibilityTimeout = document.getElementById('add-queue-modal-visbility-timeout-input').value;
      const receiveMessageWaitTime = document.getElementById('add-queue-modal-receive-message-wait-time-input').value;
      const maximumMessageSize = document.getElementById('add-queue-modal-maximum-message-size-input').value;

      if (!name) {
        errorElement.innerText = 'Name is required.'
        return;
      }

      try {
        const fetchResponse = await fetch('/api/sqs-queues', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            queueName: name,
            visibilityTimeout: visibilityTimeout || undefined,
            receiveMessageWaitTime: receiveMessageWaitTime || undefined,
            maximumMessageSize: maximumMessageSize || undefined,
          }),
        });

        if (!fetchResponse.ok) {
          const response = await fetchResponse.json();
          errorElement.innerText = response.error;
          return;
        }

        const response = await fetchResponse.json();

        const tableBodyElement = document.getElementById('queues-table-body');

        if (tableBodyElement.innerHTML.includes('No queues')) {
          tableBodyElement.innerHTML = createTableRow({ ...response, numberOfMessages: 0, numberOfMessagesInHistory: 0 });
        } else {
          tableBodyElement.innerHTML += createTableRow({ ...response, numberOfMessages: 0, numberOfMessagesInHistory: 0 });
        }

        document.getElementById('add-queue-modal-name-input').value = '';
        document.getElementById('add-queue-modal-visbility-timeout-input').value = '';
        document.getElementById('add-queue-modal-receive-message-wait-time-input').value = '';
        document.getElementById('add-queue-modal-maximum-message-size-input').value = '';

        originalQueues.push({ ...response, numberOfMessages: 0, numberOfMessagesInHistory: 0 });

        $('#add-queue-modal').modal('hide');
        $('.button').popup();
      } catch (error) {
        console.error(error);
        errorElement.innerText = 'An unknown error occurred.';
      }
    }

    // Send message
    const openSendMessageModal = (queue) => {
      selectedQueue = { ...queue };

      const headerElement = document.getElementById('send-message-modal-header');
      headerElement.innerHTML = `Send Message - Queue: ${queue.name}`

      $('#send-message-modal').modal('show');
    }

    const onSendMessageClick = async () => {
      const errorElement = document.getElementById('send-message-modal-error');
      errorElement.innerText = '';

      const messageBody = document.getElementById('send-message-modal-message-body-input').value;
      const messageAttributes = document.getElementById('send-message-modal-message-attributes-input').value;
      const delaySeconds = document.getElementById('send-message-modal-delay-seconds-input').value;

      try {
        const fetchResponse = await fetch('/api/sqs-messages', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            queueUrl: selectedQueue.url,
            messageBody: messageBody || undefined,
            messageAttributes: messageAttributes || undefined,
            delaySeconds: delaySeconds || undefined,
          }),
        });

        if (!fetchResponse.ok) {
          const response = await fetchResponse.json();
          errorElement.innerText = response.error;
          return;
        }

        const queueRow = document.getElementById(`queue-${selectedQueue.name}`);
        queueRow.innerHTML = createTableRow({ ...selectedQueue, numberOfMessages: selectedQueue.numberOfMessages + 1 })
        
        originalQueues = originalQueues.map((e) => {
          if (e.name === selectedQueue.name) {
            return { ...selectedQueue, numberOfMessages: selectedQueue.numberOfMessages + 1 };
          }

          return e;
        });

        document.getElementById('send-message-modal-message-body-input').value = '';
        document.getElementById('send-message-modal-message-attributes-input').value = '';
        document.getElementById('send-message-modal-delay-seconds-input').value = '';

        $('#send-message-modal').modal('hide');
      } catch (error) {
        errorElement.innerText = 'An unknown error occurred.'
      }
    }

    // Purge queue
    const openPurgeQueueModal = (queue) => {
      selectedQueue = { ...queue };

      const purgeQueueModalDescriptionElement = document.getElementById('purge-queue-modal-description');

      purgeQueueModalDescriptionElement.innerHTML = `Are you sure you want to purge <b>${queue.name}</b>? This will delete all of its messages.`;

      $('#purge-queue-modal').modal('show');
    }

    const onConfirmPurgeQueueClick = async () => {
      const errorElement = document.getElementById('purge-queue-modal-error');

      errorElement.innerText = '';

      try {
        const fetchResponse = await fetch(`/api/sqs-queues/${selectedQueue.name}/purge`, { method: 'PATCH' });

        if (!fetchResponse.ok) {
          const response = await fetchResponse.json();
          errorElement.innerText = response.error;
          return;
        }

        const queueRow = document.getElementById(`queue-${selectedQueue.name}`);
        queueRow.innerHTML = createTableRow({ ...selectedQueue, numberOfMessages: 0 })
        
        originalQueues = originalQueues.map((e) => {
          if (e.name === selectedQueue.name) {
            return { ...selectedQueue, numberOfMessages: 0 };
          }

          return e;
        });

        $('#purge-queue-modal').modal('hide');
      } catch (error) {
        errorElement.innerText = 'An unknown error occurred.'
      }
    }

    // Purge queue
    const openDeleteQueueModal = (queue) => {
      selectedQueue = { ...queue };

      const descriptionElement = document.getElementById('delete-queue-modal-description');

      descriptionElement.innerHTML = `Are you sure you want to delete <b>${queue.name}</b>? This will delete all of its messages and history.`;

      $('#delete-queue-modal').modal('show');
    }

    const onConfirmDeleteQueueClick = async () => {
      const errorElement = document.getElementById('delete-queue-modal-error');

      errorElement.innerText = '';

      try {
        const fetchResponse = await fetch(`/api/sqs-queues/${selectedQueue.name}`, { method: 'DELETE' });

        if (!fetchResponse.ok) {
          const response = await fetchResponse.json();
          errorElement.innerText = response.error;
          return;
        }

        document.getElementById(`queue-${selectedQueue.name}`).remove();
        
        const tableBodyElement = document.getElementById('queues-table-body');

        if (tableBodyElement.innerHTML.trim() === '') {
          tableBodyElement.innerHTML = `
            <tr>
              <td class="center aligned" colspan="9">No queues.</td>
            </tr>
          `;
        }
        
        originalQueues = originalQueues.filter(e => e.name !== selectedQueue.name)

        $('#delete-queue-modal').modal('hide');
      } catch (error) {
        errorElement.innerText = 'An unknown error occurred.'
      }
    }

    // Search
    const rerenderTable = (queues) => {
      const table = document.getElementById('queues-table-body');

      if (queues.length <= 0) {
        table.innerHTML = `
          <tr>
            <td class="center aligned" colspan="9">No queues.</td>
          </tr>
        `;
        return;
      }

      table.innerHTML = queues.map(e => createTableRow(e)).join('')
    }

    document.getElementById('search-input').addEventListener('keyup', (e) => {
      if (!e.target.value) {
        changeSearchInUrl('');
        rerenderTable(originalQueues);
        return;
      }

      changeSearchInUrl(e.target.value.toLowerCase());
      const filteredQueues = originalQueues.filter(queue =>
        queue.name.toLowerCase().includes(e.target.value.toLowerCase()) ||
        queue.url.toLowerCase().includes(e.target.value.toLowerCase()) ||
        queue.arn.toLowerCase().includes(e.target.value.toLowerCase())
      );
      rerenderTable(filteredQueues);
    })

    const initialSearch = getSearchFromUrl();

    if (initialSearch) {
      document.getElementById('search-input').value = initialSearch;
      const filteredQueues = originalQueues.filter(queue =>
        queue.name.toLowerCase().includes(initialSearch.toLowerCase()) ||
        queue.url.toLowerCase().includes(initialSearch.toLowerCase()) ||
        queue.arn.toLowerCase().includes(initialSearch.toLowerCase())
      );
      rerenderTable(filteredQueues);
    }
  </script>
</html>
